<!DOCTYPE html>
<html lang="en">
<%- include('partials/header', { title: title }) %>
<body>
    <div class="container messageBoard">
        <div class="messageView">
            <% messages.forEach((message) => { %>
                <div class="chatMessage">
                    <div class="chatBox">
                        <a href="<%= `${locals.baseUrl}/new/${message.id}` %>">
                            <div><%= message.text %></div>
                            <div class="chatTime">
                                <% const time = message.added.toLocaleTimeString('en-US', timeOpt); %>
                                <% const dateStr = message.added.toLocaleDateString('en-US', dateOpt); %>
                                <%= `${time} ${dateStr}` %>
                            </div>
                        </a>
                    </div>
                    <div class="chatUser"><%= message.username || "Guest" %></div>
                </div>
            <% }) %>
        </div>
    </div>
    <div class="container chat">
        <form method="POST" action="<%= `${locals.baseUrl}/new` %>">
            <div style="display: flex; justify-content: space-between;">
                <div style="width: 90%;">
                    <label for="author">
                        <input tabindex="1" placeholder="Name" id="author" name="author" type="text">
                    </label>  
                </div>
                <div>
                    <button tabindex="3" class="sendMsg">
                        Post <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send"><path d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"/><path d="m21.854 2.147-10.94 10.939"/></svg>
                    </button>
                    
                </div>
            </div>
            <div>
                <label for="message">
                    <textarea tabindex="2" placeholder="Message" id="message" name="message" rows="6" type="text" required></textarea>
                </label>
            </div>
         </form>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const messageBoard = document.querySelector('.messageBoard');
      if (messageBoard) {
        messageBoard.scrollTop = messageBoard.scrollHeight;
      }
    });
</script>
</html>